/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.img-container {
    position: absolute;
    top: 50px;
    left: 19%;
    max-width: 60%;
    max-height: 80%
    /* float: left; */
}

.buttons {
    position: absolute;
    bottom: 10px;
    left:25%;
}

.top-buttons {
    position:absolute;
    top:10px;
    left:35%
}
.input {
    display: none
}
