/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.img-container {
    position: absolute;
    top: 40px;
    left: 240px;
    max-width: 55%;
    max-height: 75%
    /* float: left; */
}

.buttons {
    position: absolute;
    bottom: 10px
}

.input {
    display: none
}
